<!-- nav-bar para el entorno del usuario -->
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <div class="container">
     <a class="navbar-brand font-weight-bold" href="{% url 'estadisticas' %}">HBV</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Pariticipar llenado encuesta -->
          <li class="nav-item active">
            <a class="nav-link" href="{%url 'encuesta:responder_encuesta' %}"><i class="fa fa-th-list" aria-hidden="true"></i> Llenar encuesta <span class="sr-only">(current)</span></a>
          </li>
          <!-- Sobre nosotros -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'estadisticas' %}#SobreNosotros"><i class="fa fa-users" aria-hidden="true"></i> Sobre nosotros <span class="sr-only">(current)</span></a>
          </li>
          
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'encuesta:pregunta_listar' %}"><i class="fa fa-user" aria-hidden="true"></i> Admin <span class="sr-only">(current)</span></a>
          </li>
         {% else %}
         

        {% endif %}

        </ul>
      </div>
    </div>
  </nav>