{% extends 'plantillasBase/baseAdmin.html' %}
{% block content %}

{% block meta %}
  <title>Listado de categorias</title>
{% endblock %}

<div class="alert alert-info" role="alert">
  <h4 class="text-center alert-heading">LISTADO DE CATEGORIAS</h4>
  <p class="text-center font-weight-bold">Esta es una lista de las categorias existentes en nuestro sistema</p>
</div>
 <a class="btn btn-dark btn-block font-weight-bold" href="{% url 'encuesta:categoria_crear' %}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva categoría</a>
<hr>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th class="text-center font-weight-bold">Id</th>
      <th class="text-center font-weight-bold">Nombre</th>
      <th class="text-center font-weight-bold">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% if object_list %}
    {% for categoria in object_list %}
    <tr>
      <td class="text-center">{{ categoria.id_categoria }}</td>
      <td class="text-center">{{ categoria.descripcion_cat }} </td>
      <td class="text-center">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
          <a class="btn btn-primary btn-sm" href="{% url 'encuesta:categoria_editar' categoria.id_categoria %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modificar</a>
          <a class="btn btn-dark btn-sm" href="{% url 'encuesta:categoria_eliminar' categoria.id_categoria %}"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>  
        </div>
      </td>
    </tr>
    {% endfor %}
    {% else %}
    <h2>NO HAY REGISTROS DE CATEGORIA!</h2>
    {% endif %}

  </tbody>
</table>

{% endblock %}

